/* Custom Stylesheet */

#home-column-text{
  text-align: justify;
}

.underline {
  display: inline;
  background-image: linear-gradient(
        transparent 50%,
        #fff677 50%,
        #fffc3d 85%,
        transparent 65%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-size: 1.7em;
  text-align: justify;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 70vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
		padding: 20vh;
	}

/*
#title-background{
border-radius: 45px;
padding-bottom: 20vh;
}
*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
	padding: 0;
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #logo-container{
	width: 100%;
	padding-left: 20vw;
	font-size: 150%;
	}
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
